* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}
body {
  background-color: #241104;
  width: 100%;
}

//header section
#header {
  // position: relative;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header .logo {
  // display: flex;
  // justify-content: left;
}
.header_content {
  // width: 100%;
  // margin-right: 10%;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: space-between;
    gap: 2em;

    .btn {
      position: relative;
      color: black;
      transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
      cursor: pointer;
      user-select: none;
    }

    .btn:before,
    .btn:after {
      content: "";
      position: absolute;
      transition: inherit;
      z-index: -1;
    }

    .btn:hover {
      color: #20180f;
      transition-delay: 0s;
    }

    .btn:hover:before {
      transition-delay: 0s;
    }

    .btn:hover:after {
      background: #ff9d001f;
      transition-delay: 0.08s;
    }

    /* From Top */

    .from-top:before,
    .from-top:after {
      left: 0;
      height: 0;
      width: 100%;
    }

    .from-top:before {
      bottom: 0;
      border: 1px solid #ff9d00;
      border-top: 0;
      border-bottom: 0;
    }

    .from-top:after {
      top: 0;
      height: 0;
    }

    .from-top:hover:before,
    .from-top:hover:after {
      height: 100%;
    }
  }
  li {
    list-style: none;
    a {
      color: #ffc361;
      text-decoration: none;
      font-size: 1.15em;
    }
  }
}
//drawer
/* Add this CSS to your existing styles */
.header_drawer {
  background-color: #ffb24d;
  color:#1a0e07; /* Semi-transparent background */
  position: fixed;
  top: 0;
  right: -300px; /* Position off-screen initially */
  width: 200px; /* Set desired width */
  height: 100vh; /* Set full viewport height */
  transition: left 0.3s ease-in-out; /* Smooth transition animation */
  z-index: 1000; /* Higher z-index to overlay other content */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.header_drawer.active {
  right: 0; /* Show the navigation drawer on active class */
}

/* Style the navigation items */
.header_drawer ul.navbar-nav {
  padding-top: 2em;
  list-style: none;
  text-align: center;

}
.navbar-toggler-icon{
  background-color:#ff9d00!important;
  border-radius: 5px;

}
.header_drawer ul.navbar-nav li {
  margin-bottom: 1em;
}

.header_drawer ul.navbar-nav li a {
   color:#1a0e07;
  font-size: 1.2em;
  text-decoration: none;
}

/* Add an overlay class to the body when the drawer is active */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Higher z-index than navbar */
  display: none;
}


.overlay.active {
  display: block; /* Show the overlay on active class */
}

@media (max-width: 576px) {
  .header_drawer {
    transform: translateX(0);
  }

  .header_content {
    display: none;
  }
}
@media (min-width: 576px) {
  .navbar {
    display: none;
  }
}
//hero section
section {
  position: relative;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

section .img-3 {
  position: absolute;
  pointer-events: none;
  object-fit: cover;
}
section #text {
  top:20;
  position: absolute;
  color: #ff9d00;
  text-shadow: 10px 5px 50px rgb(0, 0, 0);
  font-size: 7em;
  text-align: center;
  line-height: 0.8em;
  transform: translateY(-50%);
  overflow: visible;
}
section #text span {
  font-size: 1rem;
  letter-spacing: 2px;
  color: #ffc361;
  font-weight: 400;
  text-shadow: 10px 10px 50px rgb(0, 0, 0);
}
//searchbar

/* Searchbar section */
#search-form {
  margin-top: 4em;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  width: 50px;
  height: 50px;
  background: #ffc361;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #ff9d00;

  /* Searchbar interaction */
  &:hover,
  &:focus-within {
    width: 250px;
    cursor: pointer;

    /* Display search input */
    .form-control {
      display: block;
    }

    /* Search icon styling */
    .fa {
      background: #241104;
      color: #ffc361;
    }
  }

  /* Search input styling */
  .form-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    background-color: #ffffff;
    color: #241104;
  }

  /* Search icon styling */
  .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 0.25s;
  }
}

//section 2
.section_2 {
  .text_2 h2 {
    text-shadow: 10px 5px 50px rgba(0, 0, 0, 0.925);
    font-size: 3em;
    margin-left: 1em;
    color: #ff9d00;
    position: relative;
  }
}
//try
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(-2%);
  }
}

.scrolling-text {
  opacity: 0;
  animation: slideInFromLeft 3s ease forwards;
  color: #ff9d00;
  padding: 20px;
  z-index: 1;
}

@keyframes slideInFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel_heading {
  opacity: 0;
  animation: slideInFade 3s ease forwards;
  color: #ff9d00;
  padding: 20px;
  font-size: 2em;
  font-weight: 500;
  z-index: 1;
}

// card styling
.card {
  background-color: #ffc361;
  border: none;
  margin-top: 5%;
  .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-title {
      font-size: 1.25em;
      font-weight: 700;
    }
    .btn {
      display: inline-block;
      padding: 8px 16px;
      font-size: 18px;
      font-weight: 400;
      border: none;
      cursor: pointer;
      background-color: #995701;
      color: #ffffff;
      border-radius: 4px;
      position: relative;
      overflow: hidden;
      margin-top: 1em;
    }
    .btn::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      background-color: #00000028;
      border-radius: 50%;
      opacity: 1;
      transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
    }

    .btn:hover::before {
      width: 200px;
      height: 200px;
      opacity: 1;
    }
  }
}

// bubble--background
.bubble-background {
  position: relative;
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30%);
  }
}

.bubble {
  position: absolute;
  background-color: #ff9d0059;
  border-radius: 50%;
  animation: bubbleAnimation 5s linear infinite alternate;
}

.bubble:nth-child(2) {
  width: 2em;
  height: 2em;
  left: 5%;
  bottom: 0%;
  animation-duration: 1s;
}
.bubble:nth-child(3) {
  width: 3em;
  height: 3em;
  animation-duration: 2s;
  left: 70%;
  bottom: 0%;
}
.bubble:nth-child(4) {
  width: 4em;
  height: 4em;
  bottom: 0%;
  left: 50%;
  top: 10%;
  animation-duration: 3.5s;
}
.bubble:nth-child(5) {
  width: 3em;
  height: 3em;
  // top: 40%;
  left: 40%;
  bottom: 0%;
  animation-duration: 3.5s;
}
.bubble:nth-child(6) {
  width: 1em;
  height: 1em;
  // top: 40%;
  left: 60%;
  bottom: 0%;
  animation-duration: 2.5s;
}

//loader
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  overflow: hidden;
}

.footer {
  margin-top: 8em;
  width: 100%;

  .footer_text {
    z-index: 2;
    bottom: 0;
    color: #c57001;
    background-color: #1a0e07;
    width: 100vw;

    padding: 10px;
    p {
      font-size: 0.75em;
      margin-bottom: 0;
    }
    ul {
      font-size: 0.75em;
      a {
        text-decoration: none;
        color: #c57001;
      }
    }
  }
  //footer hover animation
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #c57001;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #c57001;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
 
}

.modal {
  .modal-dialog {
    padding: 20px;
    .modal-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #ffc361;
      border: none;
      .modal-title {
        text-transform: uppercase;
        font-size: 2em;
        color: #573100;
      }
    }
    .modal-body {
      display: flex;
      flex-direction: row;
      gap: 1em;
      background-color: #241104;
      border: none;
      justify-content: space-around;
      img {
        height: 100vh;
        width: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .data {
      width: 50%;
      font-size: 1em;
      color: wheat;
    }
  }
}
@keyframes rollIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.modal .rollIn {
  animation: rollIn 0.5s ease-out;
}
.modal .rollOut {
  animation: rollOut 0.5s ease-out;
}
@keyframes rollOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

// mediaquery

@media (max-width: 576px) {
  .card {
    .card-title {
      font-size: 2em;
      font-weight: 700;
    }
  }
  .box {
    margin-top: 0 !important;
  }
  .carousel_heading {
    margin-top: 20%;
    font-size: 2em;
    z-index: 1;
  }

  section #text {
    font-size: 3em;
    line-height: 0.6em;
    transform: translateY(-50%);
  }
  section #text span {
    font-size: 1rem;
    letter-spacing: 1px;
    color: #ffc361;
    font-weight: 400;
    text-shadow: 10px 10px 50px rgb(0, 0, 0);
  }

  .text_2 h2 {
    font-size: 2em !important;
  }
}

@media (max-width: 576px) {
  .modal-body {
    display: flex;
    flex-direction: column;
    img {
      height: 70vh !important;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
@media (max-width: 992px) {
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    img {
      height: 80vh !important;
      width: 100% !important;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .modal .modal-dialog .data {
    width: 100% !important;
  }
}

@media (max-width:280px) {
  section {
  min-height: 40vh;
  }
  .carousel_heading{
    font-size: 1em! important;
  }

  
}