/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.scrolling-container {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.scrolling-text {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s, transform 0.5s;
  color: black;
  z-index: 1;
}
